.ONlight{
    background-color: blue;
    height: 100vh;
}
.offlight{
    background-color: black;
    color:white;
    min-height: 100vh;
    
    
}
.button{
    width: 25%;
    transition-duration: 0.4s;
    padding: 12px 28px;
    font-size: 20px;
    font-style: oblique;
    border-radius: 4px;
    border: violet;
    background-color: tomato;
    color: white;
    
    
}
.button1{
    width: 25%;
    transition-duration: 0.4s;
    padding: 12px 28px;
    font-size: 20px;
    font-style: oblique;
    border-radius: 4px;
    border: violet;
    background-color: purple;
    color: white;
    
    
}